.game-card {
  --ps2-header-height: 8%;

  border: 2px solid black;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  background: #111;
  aspect-ratio: 2/3;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.ps2-cover-header {
  width: 100%;
  height: var(--ps2-header-height);
  flex: 0 0 var(--ps2-header-height);
  object-fit: fill;
  display: block;
}

.game-cover {
  width: 100%;
  min-height: 0;
  flex: 1 1 auto;
  background: #222;
  object-fit: cover;
  display: block;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  z-index: 10;
  cursor: pointer ;
}

.context-menu {
  background: #222;
  color: #fff;
  border: 1px solid #444;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  border-radius: 6px;
  min-width: 160px;
  z-index: 100;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu li:hover {
  background: #333;
}
